<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-app="myApp">
    <div ng-controller="ctrl01">
        <table border="3">
            <tr>
                <td>id</td>
                <td>name</td>
                <td>phone</td>
            </tr>
            <tr ng-repeat="user in users">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.phone}}</td>
                <td>{{$index}}</td>
                <td>
                    <button ng-click="delUser($index);">删除</button>
                </td>
            </tr>
        </table>
    </div>

<script src="angular.min.js"></script>
<script src="list_app.js">

</script>


</body>
</html>