<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="https://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>
    <div ng-app="mainApp" ng-controller="CalcController">
        <p>输入一个数字：<input type="number" ng-model="number"/></p>
        <button ng-click="square()">X<sup>2</sup></button>
        <p>结果为：{{result}}</p>
    </div>
    <script>
        var app = angular.module("mainApp",[]);
        app.config(function($provide){
            $provide.provider("MathService",function(){
                this.$get = function(){
                    var factory = {};
                    factory.multiply = function(a,b){
                        return a*b;
                    };
                    return factory;
                };
            });
        });
        app.value("defaultInput",5);
        app.factory("MathService",function(){
            var factory  = {};
            factory.multiply = function(a, b) {
                return a * b;
            };
            return factory;
        });
        app.service('CalcService', function(MathService){
            this.square = function(a) {
                return MathService.multiply(a,a);
            }
        });
        app.controller("CalcController",function($scope,CalcService,defaultInput){
            $scope.number = defaultInput;
            $scope.result = CalcService.square($scope.number);

            $scope.square = function() {
                $scope.result = CalcService.square($scope.number);
            }
        });
    </script>
</body>
</html>