*{
    padding: 0;
    margin: 0 auto;
    text-align: center;
    font-size: larger;
}
body{
    height: 100%;
    width: 100%;

}
.row{
    height: 100%;
}
html{
    background: image("../img/bg.jpg") repeat;
}