.wrapper{
    width: 1140px;
    margin: 0 auto;
}
ul,li,a{
    text-decoration: none;
}
img{
    border: 0;
}
header{
    height: 80px;
    background-color: pink;
    display: flex;
}
.wrapper{
    display: flex;
}
#resume,#list{
    -webkit-flex-grow: 1;
}
#resume{
    height: 80px;
    width: 140px;
    text-align: center;
    font-size: 21px;
    margin-top: 27px;
    font-weight: 800;
    margin-left: 200px;
}
#list{
    width: 570px;
    font-weight: 800;
    margin-left: 300px;
    height: 80px;
}
#list span{
    font-size: 16px;
    height: 18px;
    text-align: center;
    float: right;
    margin-top: 30px;
    margin-right: 30px;
}
#home{
    height: 690px;
    background-color: #75777d;
}
#content{
    height: 1568px;
    background-color: #fff;
}
#poster{
    height: 218px;
    background-color: #fff;
}
section{
    height: 461px;
    background-color: #099961;
}
footer{
    height: 132px;
    background-color:#111f3c;
}
#right > div{
    width: 560px;
    height: 328px;
    left: 0;
    margin-top: 50px;
}
#left > div{
    width: 570px;
    height: 328px;
    right: 0;
    margin-top: 50px;
    margin-right: 10px;
}
#div1{
    background-color: #42baff;
}
#div2{
    background-color: #ddf896;
}
#div3{
    background-color: pink;
}
#div4{
    background-color: green;
}
#div5{
    background-color: gold;
}
#div6{
    background-color: blue;
}
#div7{
    background-color: midnightblue;
}
#div8{
    background-color: indianred;
}
#content{
    display: flex;
}
#left,#right{
    flex-grow: 1;
    float: left;
}
#right{
    height: 1568px;
}
#content .wrapper{
    width: 1140px;
}