#header{
    height:1.02rem;
    background: #06c1ae;
    line-height: 1.02rem;
}
.ui-btn{
    background-color:#06c1ae;
    color: #fff;
}
#header .ui-grid-b{
    height:1.02rem;
    background-color:#06c1ae;
}
.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head + body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head + body .ui-btn.ui-btn-a:visited{
    background-color:#06c1ae;

}

.ui-btn, label.ui-btn {
    font-weight: bold;
    border-width: 1px;
    border-style: none;
}
