html,body{
    background: #d5e5d3;
    width:100%;
}
.content{
    margin-top:2rem;

}
span{
    display: block;
    width: 11rem;
    height: 4rem;
    border-radius: 10%;
    text-align: center;
    line-height: 4rem;
    background: orange;
    font-weight: bolder;
    font-size:1.4rem;
    color: white;
    float:right;
    margin-top: 3rem;
    margin-right:4rem;
}
img{
    margin-left: 5rem;
    width: 60rem;
}
.footer{
    position:fixed;
    bottom:0;
    color: #fff;
    height:3rem;
    background: #333;
    width: 100%;
    font-size: 1.4rem;
    text-align: center;
    line-height:3rem;
}

@media screen and (max-width: 1120px){
    img{
        width: 55rem;
    }
}
@media screen and (max-width: 1100px){
    img{
        width: 50rem;
    }
}
@media screen and (max-width: 967px){
    img{
        width: 45rem;
    }
}
@media screen and (max-width: 917px){
    img{
        width: 40rem;
    }
}
@media screen and (max-width: 880px){
    img{
        width: 35rem;
    }
}
@media screen and (max-width: 867px){
    img{
        width: 30rem;
    }
}
@media screen and (max-width: 414px){
    img{
        width: 25rem;
        margin-left: .6rem;
    }
}