body{
    background: lightblue;
    font-size: 16px;
}
*{
    padding: 0;
    margin: 0;
}
img{
    border: 0;
}
a{
    text-decoration: none;
}
span{
    background-color: orangered;
    color: #fff;
    width: 200px;
    height: 70px;
    display: block;
    text-align: center;
    border-radius: 20px;
    line-height: 70px;
    float: right;
    font-size: 2rem;
}
span a{
    color: #fff;
}
span a:hover{
    color: springgreen;
}
h3{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}
img{
    margin-left: 100px;
}
.erweima{
    width: 100px;
    height: 100px;
    float: left;
}
.erweima img{
    width: 100px;
    height: 100px;
}
span,.erweima{
    margin-top: 450px;
}
.erweima {
    font-size: 2rem;
    float: left;
    margin-left: 10px;
}