body{
    background-color: white;
    font-family: Tahoma,Geneva,sans-serif;
    margin: 0px auto;
    border-color:deeppink ;
    border: solid;
}
header{
    background-color: deeppink;
    display: block;
    color: darkred;
    text-align: center;
}
h1{
    font-size: 72px;
    margin: 0 auto;
}
h2{
    font-size: 24px;
    margin: 0px;
    text-align: center;
    color: darkred;
}
h3{
    font-size: 18px;
    margin: 0;
    text-align: center;
    color: #ff0;
}
nav{
    display: block;
    width: 20%;
    float: left;
}
nav a:link,nav a:visited{
    display: block;
    border-bottom: 3px solid #ffffff;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    margin: 5px;
}
nav a:hover{
    color: #f00;
    background-color: #ff0;
}
nav h3{
    margin: 15px;
    color: darkred;
}
section h3{
    margin: 15px;
    color: darkred;
}
#container{
    background-color: #888;
}
section{
    display: block;
    width: 60%;
    float: left;
    background-color: #0f0;
}
article{
    background-color: #cccccc;
    display: block;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
article header{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 5px;
}
article footer{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 5px;
}
article h1{
    font-size: 18px;
}
aside{
    display: block;
    width: 20%;
    float: left;
}
aside h3{
    margin: 15px;
    color: darkred;
}
aside p{
    margin: 15px;
    color: #0f0;
    font-weight: bold;
    font-style: italic;
}
footer{
    clear: both;
    display: block;
    background-color: #00ffff;
    color: darkred;
    text-align: center;
    padding: 15px;
}
footer h2{
    font-size: 14px;
    color: darkred;
}
a{
    color: deeppink;
}
a:hover{
    text-decoration: underline;
}